body{
    width: 1440px;
    font-size: 70px;
    background-color: rgb(144, 197, 197);

}
ul{
    color: rgb(6, 31, 53); 
text-align: center;
}

li{
padding-left: 50px;
color: aliceblue;
}
